.nested-copy-line-height p {
	font-size: 1.1rem;
}

.subscribe {
	border:1px solid #ccc;
	padding: 0.5em;
	text-align:center;
	border-radius: .25em; 
	background: white;
}

.subscribe input {
	border-radius: .25em;
	border: 1px solid;
}

#tlemail {
	width: 60%;
	min-width: 140px;
}