
{{ $.Scratch.Add "labelClasses" "f6 b db mb1 mt3 sans-serif mid-gray" }}
{{ $.Scratch.Add "inputClasses" "w-100 f5 pv3 ph3 bg-light-gray bn" }}

<form class="subscribe" action="https://tinyletter.com/uhlchristian" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/uhlchristian', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">📧 Would you like to be notified about new articles? Subscribe here with your email -  I promise not to use your email for anything else! I will usually publish an article once per week.</label></p><p><input type="text"  name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><p></p></form>
        